* {
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: .05px;
  -webkit-text-stroke-color: black;
}

.title, .reset-div {
	font-family: 'Luckiest Guy', cursive;
	padding-top: 5%;
	font-weight: bold;
	font-size: 2em;
}

.title h1, .title h2, .title-options, .reset-div {
	background-color: rgba(168, 168, 168, 0.7);
}

.title-options {
	margin-bottom: 0;
}

html, main {
	background-image: url('/screenshots/kappa-banner.jpg');
}


body {
	background-image: url('/screenshots/kappa-banner.jpg');
}

p, h1, h2 {
	text-align: center;
}

p {
	margin-bottom: 2%;
}

form {
	width: 60%;
	margin: 2% auto 2% auto;
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
	background-color: #EBEDEF;
	border: 2px solid black;
	border-radius: 8px;
}

section {
	text-align: center;
	margin: 2% auto;
}

nav {
	margin-top: 0;
	display: block;
	x-index: 0;
	y-index: 0;
	position: fixed;
	width: 100%;
}

ul {
	-webkit-text-fill-color: white;
  -webkit-text-stroke-width: none;
  -webkit-text-stroke-color: black;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: rgba(0, 0, 0, 1);
}

input[type='text'] {
	padding: 0.2%;
}

label {
	margin-top: 3%;
}

.nav-list {
	display: flex;
}

.nav-link {
	flex-grow: 1;
}

.nav-link a {
	display: block;
	-webkit-text-fill-color: white;
  -webkit-text-stroke-width: none;
  -webkit-text-stroke-color: black;
	text-align: center;
	text-decoration: none;
	overflow: hidden;
	padding: 4% 0;
}

.nav-link a:hover {
	background-color: white;
	-webkit-text-fill-color: black;
  -webkit-text-stroke-width: none;
  -webkit-text-stroke-color: black;
  cursor: pointer;
}

a {
	color: white;
	text-decoration: none;
}

.delete-form, .search-form, .update-form, .submit-form {
	display: inline-block;
	width: 45%;
}

.get-div {
	text-align: center;
	margin: auto;
	height: 50px;
}

.get-btn {
	margin: auto;
	font-weight: bold;
	font-size: 1.5em;
	width: 45%;
	height: 100%;
	background-color: #BABBBC;
	border: 2px solid black;
	border-radius: 2px;
}

.forms-div {
	margin-bottom: 0;
}

.get-btn:hover, .search-btn:hover, .submit-btn:hover, .delete-btn:hover, .update-btn:hover, .update-submit:hover {
	-webkit-text-fill-color: black;
  -webkit-text-stroke-width: none;
  -webkit-text-stroke-color: black;
	background-color: white;
	cursor: pointer;
}

.search-btn:active {
	background-color: #2CBD4A;
	cursor: pointer;
}

.submit-btn:active {
	background-color: #273FDD;
	cursor: pointer;
}

.get-btn:active {
	background-color: green;
	cursor: pointer;
}

.update-submit:active {
	background-color: orange;
	cursor: pointer;
}

.delete-btn:active, .update-btn:active {
	background-color: #F92F2F;
	cursor: pointer;
}

.submit-form > label, .update-form > label {
	display: block;
	margin: 1% auto 1% auto;
	width: 80%;
	text-align: left;
}

.search-txt, .delete-txt, .meme-name, .meme-type, .meme-origin {
	margin-left: 3%;
}

.submit-label > input {
	float: right;
}

.search-btn, .submit-btn, .update-submit{
	text-align: center;
	display: block;
	width: 10%;
	height: 5%;
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
	padding: auto;
	border: 0.5px solid black;
	border-radius: 2px;
}

.get-separator {
	margin-top: 0.5%;
}

.results-list {
	padding-top: 2%;
	background-image: url('../screenshots/kappa-banner.jpg');
}

.result-li {
	width: 30%;
	background-color: rgba(168, 168, 168, 0.9);
	color: black;
	background-size: 
	margin-top: 6%;
	margin-bottom: 6%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 8px;
}

.results {
	margin: 2% auto;
}

.example-link {
	text-decoration: underline;
}

.hidden {
	display: none;
}

.reset-div {
	text-align: center;
	padding: 0;
	margin: auto;
}

.example-img {
	width: 25%;
	height: 25%;
	text-align: center;
}

.actions-ul {
	background: transparent;
	display: flex;
}

.actions {
	flex-grow: 1;
	padding: 10px;
	margin-left: 18%;
}

.update-btn, .delete-btn {
	text-align: center;
	display: block;
	border-radius: 2px;
	border: 2px solid black;
	height: 100%;
	padding: 5px;
}

@media only screen and (max-width: 800px) {

	.title, .reset-div {
		padding-top: 5%;
		font-weight: bold;
		font-size: 1em;
	}

	.result-li {
		width: 70%;
	}

	.get-btn {
		width: 50%;
	}

	form {
		width: 100%;
		margin: 2% auto 2% auto;
		padding-top: 1%;
		padding-bottom: 1%;
		text-align: center;
		background-color: #EBEDEF;
		border: 3px solid grey;
		border-radius: 8px;
	}

	.delete-form, .search-form, .update-form, .submit-form {
		display: inline-block;
		width: 70%;
	}

	form > p {
		margin-top: 5%;
		margin-bottom: 3%;
	}

	.submit-form > label, .update-form > label {
		width: 70%;
		margin: 2% auto;

	}

	.submit-form > input[type='text'], .update-form > input[type='text'] {
		width: 10px;
		margin: 0;
	}

	.search-btn, .submit-btn{
		text-align: center;
		display: block;
		width: 25%;
		height: 10%;
		margin-top: 3%;
		margin-left: auto;
		margin-right: auto;
		padding: auto;
		border: 0.5px solid black;
		border-radius: 2px;
	}

	.title {
		padding-top: 10%;
	}
}

@media only screen and (max-width: 400px) {

	.title, .reset-div {
		padding-top: 5%;
		font-weight: bold;
		font-size: 1em;
	}

	.result-li {
		width: 90%;
	}

	.get-btn {
		font-size: 1.2em;
		width: 85%;
	}

	form {
		width: 100%;
		margin: 2% auto 2% auto;
		padding-top: 1%;
		padding-bottom: 1%;
		text-align: center;
		background-color: #EBEDEF;
		border: 3px solid grey;
		border-radius: 8px;
	}

	.delete-form, .search-form, .update-form, .submit-form {
		display: inline-block;
		width: 90%;
	}

	form > p {
		margin-top: 5%;
		margin-bottom: 3%;
	}

 .submit-form > label, .update-form > label {
		width: 95%;
		margin: 2% auto;

	}

	.submit-form > input[type='text'], .update-form > input[type='text'] {
		width: 10px;
		margin: 0;
	}

	.search-btn, .submit-btn{
		text-align: center;
		display: block;
		width: 25%;
		height: 10%;
		margin-top: 5%;
		margin-left: auto;
		margin-right: auto;
		padding: auto;
		border: 0.5px solid black;
		border-radius: 2px;
	}

	.title {
		padding-top: 30%;
	}
}

